.user-settings.page {
  display: flex;
  flex-flow: column;
}

.user-settings.page .header {
  height: 100px;
}

.user-settings.page .user-settings-body {
  min-height: 780px;
  box-sizing: border-box;
}
