.description {
  padding: 5px 5px 10px 10px;
  margin: 4px 0;
  grid-column: 1/3;
  background: var(--bg-el-movp);
}

.description-header {
  min-height: 29px;
  margin: 0 0 8px 0;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.description-header .header-text {
  font-size: 16px;
  color: var(--th-static-color-text-info-movp);
  flex: 1;
}

.description-header .header-text::first-letter {
  color: var(--color-fl-text-movp);
}

.description-header a {
  padding: 6.5px;
  min-width: 105px;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--prim-static-color-btn);
}

.description-header a:hover {
  color: var(--prim-hover-color-btn);
  background-color: var(--prim-hover-bg-btn);
}

.description-icons {
  color: var(--prim-color-btn-icons);
  margin: 0 6px 0 0;
}

.text-description {
  padding-right: 5px;
  line-height: 1.4;
  text-align: justify;
  letter-spacing: 0.5px;
}
