.no-results-found {
  min-height: 1409px;
}

.search-info {
  margin: 2px 6px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  cursor: default;
  color: var(--third-static-text-color);
  background: var(--bg-color-of-first-level-elements);
}

.search-value {
  margin: 5px 0;
  display: inline-block;
  word-break: break-word;
  color: var(--secondary-static-text-color);
}

.search-clue {
  font-size: 12px;
}
