.multi-filter {
  margin: 5px 0 0 0;
  width: 644px;
  display: grid;
  grid-template-rows: repeat(5, 22px) 38px;
  row-gap: 4px;
}

.search-by-categories {
  font-size: 14px;
  color: var(--color-static-msp);
  background: var(--bg-static-msp);
}

.search-by-categories:hover {
  color: var(--color-hover-msp);
  background: var(--bg-hover-msp);
}
