.recommended.block {
  margin: 0 8px 5px;
  width: 282px;
  background: var(--bg-color-of-second-level-elements);
}

.recommended.title {
  padding: 12px 0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  color: var(--main-static-text-color);
}

.recommended.title:hover {
  color: var(--main-hover-text-color);
}

.recommended.img {
  margin-left: 1px;
  color: var(--secondary-red-color);
}

.recommended-movie-cards {
  padding: 1px 13px 13px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}
