.help-with-error {
  font-size: 14px;
  text-align: center;
  cursor: default;
  color: var(--color-text-pe);
}

.back-to-homepage {
  color: var(--color-static-link);
  text-decoration: none;
}

.back-to-homepage:hover {
  color: var(--color-hover-link);
}

.support-email {
  margin: 0 3px;
  display: inline-block;
  line-height: 1.4;
  color: var(--color-static-link);
}
