.filter {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--color-filter);
  background: var(--bg-filter);
}

.filter:hover {
  color: var(--color-hover-filter);
}

.filter-title {
  text-transform: lowercase;
  text-align: center;
}
