.filter {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--third-static-text-color);
  background: var(--bg-color-of-first-level-elements);
}

.filter:hover {
  color: var(--main-hover-text-color);
}

.filter-title {
  text-transform: lowercase;
  text-align: center;
}
