.restore-password-body {
  margin: 0 6px;
  padding: 40px 0 0 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 16px;
  background: var(--bg-body-prl);
}

.restore-password-body .links {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.restore-password-body .login-link,
.restore-password-body .registration-link {
  color: var(--color-body-static-prl);
}

.restore-password-body .login-link:hover,
.restore-password-body .registration-link:hover {
  color: var(--color-body-hover-prl);
}
