.page-number {
  padding: 5px;
  cursor: pointer;
  color: var(--static-number-color-pnb);
  background: var(--static-bg-color-pnb);
  border: solid 1px var(--default-border-color-pnb);
}

.page-number:hover {
  color: var(--hover-number-color-pnb);
  background: var(--hover-bg-color-pnb);
}

.current-page,
.current-page:hover {
  color: var(--current-page-number-color-pnb);
  background: var(--current-page-bg-color-pnb);
  border-color: var(--current-page-border-color-pnb);
}
