.login-body {
  margin: 0 6px;
  padding: 40px 0 0 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: var(--bg-body-prl);
}

.login-body .links {
  font-size: 14px;
}

.login-body .registration-link {
  color: var(--color-body-static-prl);
}

.login-body .registration-link:hover {
  color: var(--color-body-hover-prl);
}
