.change-password-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 15px;
}

.change-password-form .header-form {
  font-size: 24px;
  text-align: center;
}

.change-password-form .old-password,
.change-password-form .new-password {
  width: 320px;
}

.change-password-form .change-password-btn {
  width: 320px;
  padding: 8px;
  font-weight: bold;
  border: 1px solid var(--bc-static-prlb);
  border-radius: 3px;
  color: var(--main-text-color-btn);
  background: var(--main-bg-color-btn);
}

.change-password-form .change-password-btn:hover,
.change-password-form .change-password-btn:focus {
  border-color: var(--secondary-border-color-btn);
  color: var(--secondary-text-color-btn);
}

.change-password-form .change-password-btn:active {
  color: var(--third-text-color-btn);
  background: var(--third-bg-color-btn);
}

.change-password-form .change-password-btn.disabled,
.change-password-form .change-password-btn.disabled:active {
  color: var(--main-text-color-btn);
  border-color: var(--main-border-color-btn);
  background: var(--main-bg-color-btn);
  opacity: 0.5;
  cursor: default;
}
