.movie-details .movie-img {
  width: 200px;
  height: 300px;
  border: 2px solid var(--main-border-color-img);
}

.movie-details .details {
  line-height: 1.4;
}

.movie-details .details-row {
  padding: 10px;
  display: flex;
}

.movie-details .details-row:first-child {
  align-items: center;
}

.movie-details .details-row a {
  color: inherit;
}

.movie-details .details-row a:hover {
  text-decoration: none;
}

.movie-details .details-row:first-child .parameter-description {
  font-size: 16px;
}

.movie-details .details-row:first-child .parameter-description::first-letter {
  color: var(--main-red-color);
}

.movie-details .details-row:nth-child(odd) {
  background: var(--bg-color-of-second-level-elements);
}

.movie-details .details-row .movie-parameter {
  flex: 0 0 80px;
}

.movie-parameter {
  color: var(--sixth-static-text-color);
}

.parameter-description {
  color: var(--seventh-static-text-color);
}

.expand-btn.actors {
  padding: 2px;
  margin-left: 2px;
  color: var(--secondary-static-text-color);
  background: transparent;
}

.expand-btn.actors:hover {
  color: var(--secondary-hover-text-color);
}
