.page-navigation-buttons {
  margin: 6px 6px 0;
  width: 644px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}

.go-to-first-page-btn,
.go-to-previous-page-btn,
.go-to-next-page-btn,
.go-to-last-page-btn {
  padding: 5.5px;
  cursor: pointer;
  color: var(--color-static-pnb);
  background: var(--bg-static-pnb);
}

.go-to-first-page-btn:hover,
.go-to-previous-page-btn:hover,
.go-to-next-page-btn:hover,
.go-to-last-page-btn:hover {
  color: var(--color-hover-pnb);
  background: var(--bg-hover-pnb);
}

.decor-dots {
  padding: 6px;
  cursor: default;
  color: var(--color-static-pnb);
  background: var(--bg-static-pnb);
}
