.movie-details .movie-img.skeleton {
  animation: skeleton-loading-img 1s linear infinite alternate;
}

@keyframes skeleton-loading-img {
  0% {
    background: var(--start-bg-img-mis);
  }

  100% {
    background: var(--end-bg-img-mis);
  }
}
