.rating-stars {
  display: flex;
  align-items: center;
}

.star {
  display: inline-flex;
  cursor: pointer;
}

.star.empty {
  color: var(--empty-star-color);
}

.star.filled {
  color: var(--filled-star-color);
}
