.nav-bar {
  margin: 5px 6px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 27px;
  gap: 4px;
}

.nav-bar-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--color-static-nbb);
  background: var(--bg-static-nbb);
}

.nav-bar-list-item:hover {
  color: var(--color-hover-nbb);
  background: var(--bg-hover-nbb);
}
