.side-bar {
  margin: 2px 6px 0 0;
  width: 298px;
  height: 1531px;
  background: var(--bg-sb);
}

.side-bar-links {
  padding: 8px 8px 5px;
}

.link-btn {
  color: var(--color-static-sbb);
  background: var(--bg-static-sbb);
}

.link-btn:hover {
  color: var(--color-hover-sbb);
  background: var(--bg-hover-sbb);
}
