.temporary-page {
  display: flex;
  flex-flow: column;
}

.temporary-page .header {
  height: 100px;
}

.temporary-page .message {
  min-height: 780px;
  box-sizing: border-box;
  margin: 0 6px;
  padding: 60px 30px;
  font-size: 32px;
  text-align: center;
  background: #181818;
}
