.select-multi-filter {
  display: flex;
}

.select-mf {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 2px 2px 2px 5px;
  font-size: 14px;
  cursor: pointer;
  flex: 1;
  color: var(--third-static-text-color);
  background: var(--bg-color-of-first-level-elements);
}

.select-mf:hover {
  color: var(--main-hover-text-color);
  background: var(--bg-color-of-third-level-elements);
}

.select-mf:active {
  color: var(--third-static-text-color);
  background: var(--bg-color-of-first-level-elements);
}

.clear-select {
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--third-static-text-color);
  background: var(--bg-color-of-first-level-elements);
}

.clear-select:hover {
  color: var(--main-hover-text-color);
  background: var(--bg-color-of-third-level-elements);
}
