.primary-password-input-wrapper .primary-password-input-body {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border-radius: 3px;
  color: var(--color-static-prli);
  background: var(--bg-static-prli);
}

.primary-password-input-wrapper .password-input {
  font-size: 16px;
  flex: 1;
  background: none;
}

.primary-password-input-body.focused {
  outline: 1px solid var(--color-static-prli);
}

.primary-password-input-body.invalid {
  outline: 1px solid var(--color-warning-prl);
}

.primary-password-input-wrapper .show-password-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-body-static-prl);
}

.primary-password-input-wrapper .show-password-btn:hover,
.primary-password-input-wrapper .show-password-btn:focus {
  color: var(--color-static-prli);
}

.primary-password-input-wrapper .warning-message {
  margin-top: 4px;
  text-align: justify;
  line-height: 1.4;
  color: var(--color-warning-prl);
}
