.movie-page {
  display: grid;
  grid-template-columns: 1fr 304px;
  grid-template-rows: 100px 216px 95px 1fr;
  grid-template-areas:
    "header header"
    "top-movies top-movies"
    "navbar navbar"
    "movie-info sidebar"
    "footer footer";
}

.movie-page .header {
  grid-area: header;
}

.movie-page .top-movies {
  grid-area: top-movies;
}

.movie-page .nav-bar {
  grid-area: navbar;
}

.movie-page .movie-info {
  grid-area: movie-info;
}

.movie-page .side-bar {
  grid-area: sidebar;
}

.movie-page .footer {
  grid-area: footer;
}
