@import url("AppColors.css");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.html {
  background: var(--page-bg-color);
}

.body.no-scroll {
  overflow: hidden;
}

#root {
  padding: 15px;
  width: 960px;
  margin: 0 auto;
}

.page {
  width: 960px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: var(--main-static-text-color);
  background-color: var(--wrapper-bg-color);
}
