:root {
  /* Main page */
  --bg-page-mp: #000;
  --bg-wrapper-mp: #111111;
  --page-color-mp: #aaa;

  /* Logo */
  --color-static-logo: #aaa;
  --color-hover-logo: #ccc;

  /* List hot links */
  --color-static-lhl: #aaa;
  --color-hover-lhl: #ccc;
  --bc-lhl: #a5a5a566;

  /* Sorting panel */
  --bg-filter: #191919;
  --color-filter: #999;
  --color-hover-filter: #ccc;
  --color-fs-inactive: #fed70b;
  --color-fs-active: #bf090e;
  --bg-decor-filter-line: linear-gradient(
    90deg,
    rgba(24, 24, 24, 0.8) 0%,
    rgba(238, 2, 2, 0.35) 100%
  );
  --color-filter-info: #777;

  /* Page navigation buttons */
  --bg-static-pnb: #333;
  --bg-hover-pnb: #454545;
  --bg-current-pnb: #000;
  --bc-current-pnb: #555;
  --color-static-pnb: #ccc;
  --color-hover-pnb: #fff;
  --color-current-pnb: #7f7e7e;

  /* Big movie card */
  --bg-empty-star-bmc: #959595;
  --bg-filled-star-bmc: #fed70b;
  --bg-static-bmc: #222;
  --bg-hover-bmc: #353535;
  --color-static-bmc: #bbb;
  --color-hover-bmc: #eee;
  --color-rel-year-bmc: #bf090e;

  /* Middle movie card */
  --bg-static-mmc: #222;
  --bg-hover-mmc: #353535;
  --color-static-mmc: #aaa;
  --color-hover-mmc: #ddd;

  /* Small movie card */
  --bg-static-smc: #292929;
  --bg-hover-smc: #353535;
  --color-static-smc: #aaa;
  --color-hover-smc: #ddd;

  /* Nav bar buttons */
  --bg-static-nbb: #181818;
  --bg-hover-nbb: #333;
  --color-static-nbb: #999;
  --color-hover-nbb: #ddd;

  /* Search button */
  --bg-static-sb: #333;
  --color-static-sb: #fff;
  --color-hover-sb: #ddd;

  /* Serch input */
  --bg-static-si: #080808;
  --bc-hover-si: #484848;
  --bc-static-si: #333;
  --color-static-si: #ddd;
  --color-hover-si: #888;
  --color-focus-si: #fff;

  /* Side bar */
  --bg-sb: #181818;

  /* Side bar buttons */
  --bg-static-sbb: #222;
  --bg-hover-sbb: #333;
  --color-static-sbb: #aaa;
  --color-hover-sbb: #ddd;

  /* Side bar recommendations */
  --bg-sbr: #222;

  /* Side bar recommendations links */
  --color-static-sbrl: #aaa;
  --color-hover-sbrl: #ccc;
  --color-img-sbrl: #a20811;

  /* Side bar recomendations movie card */
  --bg-static-sbrms: #292929;
  --bg-hover-sbrms: #353535;
  --color-static-sbrms: #aaa;
  --color-hover-sbrms: #ddd;

  /* Footer */
  --bg-f: #181818;
  --color-f: #777;
  --color-static-link-f: #aaa;
  --color-hover-link-f: #ddd;

  /* Page registration/login */
  --bg-body-prl: #181818;
  --color-body-static-prl: #aaa;
  --bg-form-prl: #222;
  --color-body-hover-prl: #ccc;

  /* Page registration/login inputs*/
  --bg-static-prli: #333;
  --color-static-prli: #eee;
  --outline-prli: #fff;

  /* Page registration/login buttons*/
  --bg-static-prlb: #333;
  --color-static-prlb: #ddd;
  --bc-static-prlb: #181818;
  --bc-hover-prlb: #444;
  --color-hover-prlb: #eee;
  --bg-active-prlb: #21759b;
  --color-active-prlb: #eaf2fa;

  /* Page faq */
  --bg-title-faq: #333;
  --color-title-faq: #ccc;
  --color-link-faq: #ccc;
  --color-text-faq: #aaa;

  /* Movie page */
  --bg-body-movp: #181818;
  --bc-img-movp: #252525;
  --bg-el-movp: #222;
  --bg-sub-el-static-movp: #292929;
  --bg-sub-el-hover-movp: #353535;
  --prim-color-text-info-movp: #a5a5a5;
  --sec-color-text-info-movp: #dadada;
  --th-static-color-text-info-movp: #ccc;
  --th-hover-color-text-info-movp: #eee;
  --four-static-color-text-info-movp: #777;
  --four-hover-color-text-info-movp: #bbb;
  --color-fl-text-info-movp: #f00;

  /* Movie page movie card*/
  --color-static-movpmc: #aaa;
  --color-hover-movpmc: #ddd;

  /* Movie page buttons*/
  --bg-hover-movpb: #333;
  --color-hover-movpb: #333;
  --color-static-movpb: #bbb;

  /* Movie page comments*/
  --bg-user-name-movpc: #292929;
  --color-user-name-movpc: #ccc;
  --color-user-com-movpc: #aaa;

  /* Movie page movie */
  --bg-movpm: #000000;

  /* No Results Found */
  --color-search-info: #999;
  --bg-search-info: #181818;
  --color-search-value: #ccc;

  /* Page error */
  --color-warning-pe: #ff0000;
  --bg-content-pe: #181818;
  --color-text-pe: #999;
  --color-static-link: #ccc;
  --color-hover-link: #eee;

  /* Big loading card */
  --bg-animation-start-blc: #171717;
  --bg-animation-end-blc: #080808;

  /* Middle loading card */
  --bg-animation-start-mlc: #1a1a1a;
  --bg-animation-end-mlc: #0a0a0a;

  /* Small loading card */
  --bg-animation-start-slc: #242424;
  --bg-animation-end-slc: #1a1a1a;
}
