.user-settings-body {
  margin: 0 6px;
  background: var(--bg-body-pus);
}

.user-settings-body .settings {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 60px;
}

.user-settings-body .user-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 10px;
}

.user-settings-body .user-about {
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 8px;
}

.user-settings-body .user-about .avatar-info {
  padding: 8px;
  border-radius: 3px;
  border: 2px solid var(--bc-avatar);
}

.user-settings-body .user-about .name-info {
  max-width: 828px;
  word-wrap: break-word;
  font-size: 32px;
}

.user-settings-body .user-info .log-out-btn {
  width: 70px;
  padding: 8px;
  font-weight: bold;
  border: 1px solid var(--bc-static-prlb);
  border-radius: 3px;
  color: var(--color-static-prlb);
  background: var(--bg-static-prlb);
}

.user-settings-body .user-info .log-out-btn:hover,
.user-settings-body .user-info .log-out-btn:focus {
  border-color: var(--bc-hover-prlb);
  color: var(--color-hover-prlb);
}

.user-settings-body .user-info .log-out-btn:active {
  color: var(--color-active-prlb);
  background: var(--bg-active-prlb);
}
