.body-error {
  min-height: calc(100vh - 30px); /* Content Height - Security Padding */
  display: flex;
  flex-flow: column;
}

.body-error .header {
  height: 100px;
}

.error-info-body {
  padding: 10px;
  margin: 0 6px;
  font-size: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  flex: 1;
  background: var(--bg-content-pe);
}

.error-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.error-title {
  font-size: 40px;
  line-height: 1;
}

.error-message {
  margin: 5px 0;
}

.list-errors {
  padding: 0 100px;
  list-style-position: inside;
}

.error-title,
.error-message,
.list-errors {
  color: var(--color-warning-pe);
}

.help-with-error {
  font-size: 14px;
  text-align: center;
  cursor: default;
  color: var(--color-text-pe);
}

.back-to-homepage {
  color: var(--color-static-link);
  text-decoration: none;
}

.back-to-homepage:hover {
  color: var(--color-hover-link);
}

.support-email {
  margin: 0 3px;
  display: inline-block;
  line-height: 1.4;
  color: var(--color-static-link);
}
